.dots {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 16px;
}

.dots:hover {
  background-color: rgb(105, 103, 103);
}
.dots-hl {
  background-color: rgb(105, 103, 103);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dotsContainer {
  display: flex;
  gap: 3px;
}
.imgContainer {
  border: 3px dotted black;
}
.sliding {
  background-color: brown;
  color: white;
}
